/* Reveal spoiler on hover */
.spoilerText-3p6IlD.hidden-HHr2R9:hover .inlineContent-3ZjPuv {
	opacity: 1;
	border-radius: 3px;
	background-color: #4a4d53;
}

/* New Pinned SVG */
path[d='M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z'] {
    d:path('M21.2,8.77l-.56.55a.53.53,0,0,1-.75,0l-.43-.43-3.61,5.22.36.35a.54.54,0,0,1,0,.76l-.56.55a.53.53,0,0,1-.75,0l-2.69-2.69L3,21.31c-.15.14-.42-.13-.28-.28l8.23-9.24L8.23,9.1a.53.53,0,0,1,0-.75l.55-.56a.54.54,0,0,1,.76,0l.35.36,5.22-3.61-.43-.43a.53.53,0,0,1,0-.75l.55-.56a.56.56,0,0,1,.76,0L21.2,8A.56.56,0,0,1,21.2,8.77Z');
}

/* Home Button Wiggle */
.homeIcon-tEMBK1 {
    animation: Home 1.5s infinite ease-in-out;
  }
  @keyframes Home {
    0% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(4deg) scale(1.01);
    }
    100% {
      transform: rotate(-4deg);
    }
}

/* Fix Avatar in Search and Pinned Messages */
.searchResultMessage-1fxgXh.hit-1fVM9e > div > .contents-2mQqc9 img,
div[id^="pinned-messages-"] .contents-2mQqc9 img {
  top: 15px;
}

/* Enlarge Emoji in details popout */
.emojiSection-3Fb9ix > .noWrap-3jynv6, .emojiSection-3Fb9ix {
	flex-wrap: wrap;
  }
  .emojiSection-3Fb9ix img ~ div {
	margin-left: 0 !important;
	margin-top: 10px !important;
  }
  .emojiSection-3Fb9ix img {
	margin: auto;
	min-width: 100%;
	height: auto !important;
  }

/* Hides Textbox when you don't have permission in channel */
.channelTextAreaDisabled-8rmlrp>div {
    display: none;
}

/* Compressed Search Bar */
.search-2oPWTC .searchBar-3dMhjb {
    width: 30px;
    transition-duration: 300ms;
}
.search-2oPWTC .searchBar-3dMhjb:hover {
    width: 200px;
}
.search-2oPWTC.focused-31_ccS .searchBar-3dMhjb {
    width: 244px !important;
}
.search-2oPWTC .icon-38sknP {
    cursor: pointer;
}

/* Better RTC Connection popout */
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] {
	left: 72px !important;
}
.container-2x5lvQ {
	width: 240px;
	box-shadow: none;
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ header {
	background-color: var(--toast-header);
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ section {
	background-color: var(--deprecated-panel-background);
}
.container-2x5lvQ section p:nth-of-type(1) {
	font-size: 0;
}
.container-2x5lvQ section p:nth-of-type(2) {
	display: none;
}
.container-2x5lvQ section strong {
	font-size: 14px;
	white-space: pre;
}
.container-2x5lvQ section strong::before {
	font-weight: normal;
}
.container-2x5lvQ section strong:nth-of-type(1)::before {
	content: 'Server: ';
}
.container-2x5lvQ section strong:nth-of-type(2)::before {
	content: 'Average Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(3)::before {
	content: 'Last Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(4)::before {
	content: 'Packet Loss: ';
}

/* Dark emotes inverted */
img[src="/assets/9a43e631d506ae4818ecefc825dc02ad.svg"], /*plus*/
img[src="/assets/13c8662cff8e029799a35878b56e23eb.svg"], /*minus*/
img[src="/assets/e37bc714ecd911af7c558f5aaa0c4464.svg"], /*ant*/
img[src="/assets/d6e12f410c99374f88879450daaaced9.svg"], /*spider*/
img[src="/assets/f34c63197816c3e60bea4a9537c5fffa.svg"], /*telephone*/
img[src="/assets/05a1abc6388a96e2a536650433c12fca.svg"], /*video camera*/
img[src="/assets/733a0db94b390b2fd5da87408285a079.svg"], /*movie camera*/
img[src="/assets/16520d89e684777eedd536346015e71f.svg"], /*electric plug*/
img[src="/assets/22bbea32f8826e963038329aee825bc1.svg"], /*chess pawn*/
img[src="/assets/1d2dc7d83ed3182e3348d4f216c15c87.svg"], /*8-pointed star*/
img[src="/assets/3d663bbe9d97bc976c24ec4d125fe2b3.svg"], /*div sign*/
img[src="/assets/133b77ff9fc321682fed3cde12d6355c.svg"], /*multiplication sign*/
img[src="/assets/1679bb713b6a99e6ddf111d45400be3a.svg"], /*$ sign*/
img[src="/assets/da56d5c7e4409c0c1640ff6ba21ec1ad.svg"], /*currency exchange*/
img[src="/assets/502afa9807a8da920a357e25c14da10a.svg"], /*wavy dash*/
img[src="/assets/48c9c24b660f8c392a56f8d28c86f1c3.svg"], /*curly loop*/
img[src="/assets/6a86f8cca40da89386aa7e9eca926da7.svg"], /*end*/
img[src="/assets/6c928e43c553124e23e45c31c6ddbece.svg"], /*back*/
img[src="/assets/b8b439115436db0c0bbff081749a1ddb.svg"], /*on!*/
img[src="/assets/fa259978fede6539d40db4b59a2b0f66.svg"], /*top*/
img[src="/assets/b3f45308df051ef73d8cf63ffe0976c3.svg"], /*soon*/
img[src="/assets/7b3ff12d16d96ca77345da9450986dc7.svg"], /*check mark*/
img[src="/assets/6278365424fa5701d3b185e2d9fe8225.svg"], /*b. circle*/
img[src="/assets/60c5854fe77ca7a4946b7c801c559f4a.svg"], /*b. small square*/
img[src="/assets/7d4f02f7354aee0b30e7e5a35579fff4.svg"], /*b. m. small square*/
img[src="/assets/b6a3073e1281d1ef79d48ef130c183b2.svg"], /*b. medium square*/
img[src="/assets/d0e23cdf2386056cc64e775a6248ed17.svg"], /*b. large square*/
img[src="/assets/3fe9fcacdbee990bd0d873135689bd5b.svg"], /*spades*/
img[src="/assets/b67a375a6b8f5caeacff463835c44011.svg"], /*clubs*/
img[src="/assets/d91cb297561a6bc50f8c6918d428bc61.svg"]  /*black heart*/{
  filter: invert(1);
