/* Conflict issues */
.powercord .hljs:before {
	content: none !important;}
  .powercord .sidebar-CFHs9e .item-PXvHYJ {
	padding-left: 20px !important;}
  .powercord .sidebar-CFHs9e .item-PXvHYJ:before {
	content: none;
}

/* Updater Module */
  .powercord-toast {
	  background: rgba(0,0,0,0.7) !important;
	  border: 1px solid var(--main-color) !important;
	  box-shadow: 0 0px 10px 0 var(--main-color) !important;
}
  .powercord-toast .header {
	  background: rgba(0,0,0,0.2) !important;
	  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3) !important;
}
  .powercord-toast .contents .inner {
	  background: transparent !important;
	  border: none !important;
	  padding: 10px 25px !important;
}
  .powercord-toast .buttons button[class*=lookGhost-] {
	  background: var(--main-color) !important;
	  opacity: 0.75 !important;
	  color: white;
}
  .powercord-toast .buttons button[class*=lookGhost-]:hover {
	  opacity: 1 !important;
}
  .powercord-toast .buttons button:hover {
	  background: rgb(50, 50 50);
	  color: white;
}

/* Spotify controls on hover(requires PowerCord Mod Client)*/
  .powercord-spotify > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {display:none;}
  .powercord-spotify.hover > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {display:initial !important;}
}

/* Spotify Themed Spotify Module™️ */
.powercord-spotify{background-color: var(--background-overlay)!important;padding-bottom:10px!important;border-top: 1px solid #ff0000!important;border-bottom: 1px solid #ff0000!important;}
.powercord-spotify img{border-radius:0!important}
.powercord-spotify .spotify-seek-bar{height:4px!important;border-radius:2px!important;margin-left:15px!important;margin-right:15px!important;background: var(--hover-color)!important}
.powercord-spotify .spotify-seek-bar-progress{background: var(--main-color)!important;border-radius:42px!important}
.powercord-spotify .container-3baos1{background-color:transparent!important}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy .title-eS5yk3{color: var(--main-color)!important}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg{color:  var(--hover-color)!important;overflow-x:hidden!important;text-indent:-15px!important}
.powercord-spotify .spotify-buttons button{background:0 0!important;}
.powercord-spotify .spotify-seek-elements,.powercord-spotify.hover .spotify-seek-elements{color: var(--main-color)!important;font-size:70%!important;margin-top:3px!important;margin-left:10px!important;margin-right:10px!important}
.powercord-spotify .horizontal-1ae9ci *{width:0!important;overflow:hidden!important;opacity:0!important;display:none!important}
.powercord-spotify:hover .horizontal-1ae9ci *{width:32px!important;overflow:visible!important;opacity:1!important;display:block!important}

/* Text formatting menu vertical */
.toolbar-2bjZV7 {
  display: flex; 
  flex-direction: column;
  height: auto;
  width: 150px;
  transform: translate(28px, -84%);
}
.toolbar-2bjZV7 .button-qqmJ7w {width: 100%;}
.toolbar-2bjZV7 .button-qqmJ7w:after {
  color: var(--text-normal); 
  width: calc(100% - 32px); 
  text-align: left;
}
.toolbar-2bjZV7 .button-qqmJ7w:hover:after {color: #fff;}
.toolbar-2bjZV7 .button-qqmJ7w.active-2HPddW:after {color: #fff;}
.toolbar-2bjZV7 .button-qqmJ7w .contents-18-Yxp {margin: 6px;}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(1):after {content: "Bold";}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(2):after {content: "Italics";}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(3):after {content: "Strikethrough";}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(4):after {content: "Quote";}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(5):after {content: "Codeblock";}
.toolbar-2bjZV7 .button-qqmJ7w:nth-of-type(6):after {content: "Spoiler";} 
.divider-24xeUg {
  height: 0;
  border-left: none;
  border-bottom: 1px solid hsla(0,0%,100%,.06);
  margin: 4px 5px;
}
.toolbar-2bjZV7 .button-qqmJ7w:first-of-type {border-radius: 4px 4px 0px 0px;}
.toolbar-2bjZV7 .button-qqmJ7w:last-of-type {border-radius: 0px 0px 4px 4px;}

/* Nicer pin/unpin message icons */
.button-1ZiXG9[aria-label="Pin Message"] path {
	d: path("M12 0c-5.522 0-10 4.395-10 9.815 0 5.505 4.375 9.268 10 14.185 5.625-4.917 10-8.68 10-14.185 0-5.42-4.478-9.815-10-9.815zm0 18c-4.419 0-8-3.582-8-8s3.581-8 8-8 8 3.582 8 8-3.581 8-8 8zm4-7h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2z");
  }
  .button-1ZiXG9[aria-label="Unpin Message"] path {
	d: path("M12 0c-5.522 0-10 4.395-10 9.815 0 5.505 4.375 9.268 10 14.185 5.625-4.917 10-8.68 10-14.185 0-5.42-4.478-9.815-10-9.815zm0 18c-4.419 0-8-3.582-8-8s3.581-8 8-8 8 3.582 8 8-3.581 8-8 8zm4-7h-8v-2h8v2z");
  }
